{% extends "base_generic.html" %}

<main role="main">

  
    <hr class="featurette-divider">
    <div class="container" style= "color: #353333">
      <h1 class="cover-heading">Bienvenidos a Cine Froy &#127909; &#127871;</h1>
      <p class="lead">Disfruta de nuestras seleccion especial de esta semana!, No te lo puedes perder invita a tus amigos!</p>
      <hr class="featurette-divider">
        <div class="row">

          
        

        <div class="card" style="width: 17rem;">
          <img src="img/lamonja.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">La monja</h5>
            <p class="card-text"> 2018 ‧ Terror/Suspenso ‧ 1h 36mm</p>
            <p class="card-text">Director: Corin Hardi</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=AKpPeLAMY9I" class="btn btn-primary">Trailer</a>
          </div>
        </div>
    
        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/niños2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Son como niños 2</h5>
            <p class="card-text"> 2013 ‧ Comedia ‧ 1h 41m</p>
            <p class="card-text">Director: Dennis Dugan</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=EJlI-peYPVs" class="btn btn-primary">Trailer</a>
          </div>
        </div>
    
        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/titanic.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titanic</h5>
            <p class="card-text"> Drama/Romance ‧ 1997 ‧ 3h 30min.</p>
            <p class="card-text">Director: James Cameron</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=2e-eXJ6HgkQ" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>
    
        <div class="card" style="width: 17rem;">
          <img src="img/siempre.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Siempre a tu lado</h5>
            <p class="card-text"> Drama/Infantil ‧ 2009 ‧ 1h 33min.</p>
            <p class="card-text">Director: Lasse Hallström</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=pypFfRYMgvM" class="btn btn-primary">Trailer</a>
          </div>
        </div>
    
        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/blood.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bloodshot</h5>
            <p class="card-text"> 2020 ‧ Acción/Aventura ‧ 1h 49m</p>
            <p class="card-text">Director:  David S. F. Wilson</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=zOeEPSR2OSM" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/star.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Star Wars</h5>
            <p class="card-text"> 2015 ‧ Acción/Ciencia ficción ‧ 2h 15m</p>
            <p class="card-text">Director: J. J. Abrams</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=gdh4iyWBAj0" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/geminis.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ang Lee</h5>
            <p class="card-text"> 2019 ‧ Acción/Ciencia ficción ‧ 1h 57m</p>
            <p class="card-text">Director: Lasse Hallström</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=6OONW4k1izs" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/malos.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Malos tiempos</h5>
            <p class="card-text"> 2018 ‧ Misterio/Suspenso ‧ 2h 20m</p>
            <p class="card-text">Director: Drew Dorggard</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=6AU-TIONmHw" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/batle.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Batle Angel</h5>
            <p class="card-text"> 2019 ‧ Acción/Ciencia ficción ‧ 2h 2m.</p>
            <p class="card-text">Director: Robert Rodríguez</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=HZpDuRzr_Xk" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/forest.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Forest Gump</h5>
            <p class="card-text"> 1994 ‧ Romance/Drama ‧ 2h 22m</p>
            <p class="card-text">Director: Robert Zemeckis</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=Cyh1LpxnaxI" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/exor.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">El exorcista</h5>
            <p class="card-text"> 1973 ‧ Terror/Sobrenatural ‧ 2h 12m</p>
            <p class="card-text">Director: William Friedkin</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=7iCJssW8XiI" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>

        <div class="card" style="width: 17rem;">
          <img src="img/pelea.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">El club de la pelea</h5>
            <p class="card-text"> 1999 ‧ Drama/Suspenso ‧ 2h 31m.</p>
            <p class="card-text">Director: David Fincher</p>
            <a href="index4.html" class="btn btn-primary">Comprar</a>
            <a href="https://www.youtube.com/watch?v=R7aiJtcJ0AQ" class="btn btn-primary">Trailer</a>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">    
  </div><!-- /.container -->


  <!-- FOOTER -->

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
